mcp_servers/mix-server/n8n_workflow_example.json
{
  "name": "MCP Mix Server Workflow",
  "active": false,
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-test",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "mcp-call",
      "name": "MCP Server Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        450,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/call-tool",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tool_name",
              "value": "={{ $json.tool_name || 'summarize_csv_file' }}"
            },
            {
              "name": "arguments",
              "value": "={{ $json.arguments || { 'filename': 'sample.csv' } }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MCP Server Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Server Call": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-30T12:00:00.000Z",
  "versionId": "1"
}
